---
import { ClientRouter } from "astro:transitions";

import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";
import { externalStrapiUrl } from "../consts";
import { fetchSite } from "../lib/fetch-strapi";

interface Props {
  title?: string;
  description?: string | null;
  seoImageUrl?: string;
}

const site = await fetchSite();
const siteData = site.site!;
const sidebar = site.sidebar!;

const { title, description, seoImageUrl } = Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    {description && <meta name="description" content={description} />}
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>
      {title ? `${title} | Andrew Gosse Composer` : "Andrew Gosse Composer"}
    </title>
    {
      seoImageUrl && (
        <>
          <meta
            property="og:image"
            content={`${externalStrapiUrl}${seoImageUrl}`}
          />
          <meta
            name="twitter:image"
            content={`${externalStrapiUrl}${seoImageUrl}`}
          />
          <meta name="twitter:card" content="summary_large_image" />
        </>
      )
    }
    {
      title && (
        <>
          <meta property="og:title" content={title} />
          <meta name="twitter:title" content={title} />
        </>
      )
    }
    {
      description && (
        <>
          <meta property="og:description" content={description} />
          <meta name="twitter:description" content={description} />
        </>
      )
    }
    <meta property="og:type" content="website" />
  </head>
  <body class="flex flex-row p-8 gap-8 max-w-[100ch] mx-auto">
    <Sidebar sidebar={sidebar} />
    <div transition:animate="none" class="flex-1">
      <slot />
    </div>
  </body>
</html>

<style define:vars={{ backgroundColor: siteData.backgroundColor }}>
  body {
    background-color: var(--backgroundColor);
  }
</style>

<ClientRouter />
