---
import { marked } from "marked";

import type {
  ComponentSharedMedia,
  ComponentSharedRichText,
  ComponentSharedSpecialComponent,
} from "../graphql/graphql";
import { externalStrapiUrl } from "../consts";
import RisoColors from "./RisoColors.astro";

/* prettier-ignore */
export type Block = ComponentSharedMedia | ComponentSharedRichText | ComponentSharedSpecialComponent;
interface Props {
  blocks: Block[];
}

const { blocks } = Astro.props;

const generateStyle = (block: ComponentSharedMedia) => {
  const rotation = typeof block.rotation === "number" ? block.rotation : 0;
  const border = typeof block.border === "string" ? block.border : "none";
  return {
    transform: `rotate(${rotation}deg)`,
    border: border,
    width: block.width,
    height: block.height,
    margin: "0 auto",
  };
};
---

<article class="prose lg:prose-xl w-full flex flex-col gap-4">
  {
    blocks.map((block) =>
      block.__typename === "ComponentSharedMedia" ? (
        Array.isArray(block.adornments) && block.adornments.length > 0 ? (
          <div style={generateStyle(block)} class="relative not-prose">
            <img
              src={`${externalStrapiUrl}${block.file!.url}`}
              alt={block.file!.alternativeText}
            />
            {block.adornments.map((adornment, idx) => (
              <img
                src={`${externalStrapiUrl}${adornment!.media!.file.url}`}
                alt={adornment!.media!.file.alternativeText}
                style={{
                  position: "absolute",
                  left: adornment!.media!.left ?? 0,
                  top: adornment!.media!.top ?? 0,
                  width: adornment!.media!.width,
                  height: adornment!.media!.height,
                  ...(adornment!.media!.rotation !== undefined
                    ? { transform: `rotate(${adornment!.media!.rotation}deg)` }
                    : {}),
                }}
              />
            ))}
          </div>
        ) : (
          <img
            src={`${externalStrapiUrl}${block.file!.url}`}
            alt={block.file!.alternativeText}
            style={generateStyle(block)}
          />
        )
      ) : block.__typename === "ComponentSharedRichText" ? (
        <Fragment set:html={marked.parse(block.body!)} />
      ) : block.__typename === "ComponentSharedSpecialComponent" &&
        block.type === "riso_colors" ? (
        <RisoColors />
      ) : null
    )
  }
</article>
